.label {
  padding-left: 10px;
}

.input {
  padding-right: 10px;
}

.content {
  padding-bottom: 10px;
}

div.horizontalgap {
  float: left;
  overflow: hidden;
  height: 1px;
  width: 10px;
}

input[type="text"],
input[type="number"] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="button"] {
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
  width: 100%;
}

#delete {
  background-color: #ff0000;
}

#edit {
  background-color: #990d35;
}

form {
  margin-top: 30px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
  width: 30%;
}
.flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

#principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

h3 {
  margin: 0;
  padding: 0;
}
