<header>
  <div class="container">
    <div class="logo">
      <img src="https://cdn-icons-png.flaticon.com/512/5499/5499206.png" alt="" width="60" height="60" />
    </div>
    <h1>E-shoes</h1>
    <nav>
      <ul>
        <li class="has-hover" routerLink="/products">Produtos</li>
        <li>|</li>
        <li class="has-hover" routerLink="/orders">Pedidos</li>
        <li>|</li>
        <li class="has-hover" routerLink="/profile">Seu perfil</li>
        <li>|</li>
        <li class="has-hover"><a (click)="logout()">Sair</a></li>
      </ul>
    </nav>
  </div>
</header>
<body>
  <router-outlet></router-outlet>
</body>
