<div
  *ngIf="this.waiting == false && user !== undefined"
  class="content"
  fxLayout="row"
  fxLayout.xs="column"
  fxFlexFill
>
  <div id="principal">
    <form ngNativeValidate [formGroup]="form">
      <h2>Editar dados</h2>
      <div class="field flex">
        <label class="label">Nome</label>
        <input
          [(ngModel)]="user.name"
          formControlName="name"
          name="name"
          id="name"
          type="text"
          placeholder="Seu nome"
          class="input"
        />
      </div>
      <div class="field flex">
        <label class="label">Email</label>
        <input
          [(ngModel)]="user.email"
          formControlName="email"
          name="email"
          id="email"
          type="email"
          placeholder="Seu email"
          class="input"
        />
      </div>
      <div class="field flex">
        <label class="label">CPF</label>
        <input
          [(ngModel)]="user.cpf"
          formControlName="cpf"
          name="cpf"
          id="cpf"
          placeholder="Seu cpf"
          type="text"
          class="input"
          [imask]="{ mask: '000.000.000-00' }"
        />
      </div>
      <div class="field">
        <input
          (click)="edit()"
          horizontalgap
          name="submit"
          id="submit"
          type="submit"
          value="Editar"
        />
      </div>
    </form>
  </div>
</div>

<div *ngIf="this.waiting == true">
  <app-loader></app-loader>
</div>

<div *ngIf="this.notFound == true">
  <div>
    <h2>Erro ao carregar o seu perfil.</h2>
  </div>
</div>
